html, body
  background: rgb(240, 240, 240)
  margin: 0
  padding: 32px

main
  background: #fff
  border-radius: 4px
  border: solid 1px rgb(220, 220, 220)
  
body[location='pages_home']
  a 
    padding: 16px
    display: block